body{
  margin:0;
  padding: 0;
  height: 100vh;
}
.demo_wrap img {
  z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.9;
    height: 100vh;
}

#st{
  font-size: 50pt;
  text-align: center;
}
#loremipsum{
  font-size: 20pt;
  text-align: center;
}
