a{

  color:#ffff66;
  font-size:30pt;

}
p{
  color:#ffff66

}
body{



}

.catable{
  position:absolute;
  left: 450pt;
  top: 950pt;

}
table{
  width: 500pt;
  height: 400pt;
}

}


#storiastemma{
  position: relative;

}

.racchetta{
  position: relative;
  left:15pt;
  top:100pt;
}
#ciao{
  font-size: 80pt;
  text-align: center;
  color: yellow;
}

#video{
  position: absolute;

  top:1400pt;
  left:690;

}

#tennis{
  font-size: 50pt;
  text-align: center;
  color: yellow;
}
#rac{
  position:relative;
  left: 15pt;
  top:100pt;
}

th {
  background-color:#ffff00;
  color: black;
  text-align: center;
  font-size:40pt;
}
td {

  color: white;
  text-align: center;
  left:150pt;
  font-size:30pt;
}

summary{
  color: yellow;
  text-align: center;
  font-size:30pt;
}
}
